@font-face {
    font-family: 'SBRegular';
    src: url("font/SBSansDisplay-Regular.eot");
    src: url("font/SBSansDisplay-Regular.eot") format("embedded-opentype"),
    url("font/SBSansDisplay-Regular.woff2") format("woff2"),
    url("font/SBSansDisplay-Regular.woff") format("woff"),
    url("font/SBSansDisplay-Regular.ttf") format("true-type"),
    url("font/SBSansDisplay-Regular.svg#SBSansDisplay-Regular") format("true-type");
}

#image {
    width: 40vmin;
    padding-top: 40px;
}
#container {
    padding: 0 48px 0 48px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;

}
#ticket {
    padding-top: 76px;
    font-size: 20vmin;
}
#operation {
    padding-top: 24px;
    font-size: 9vmin;
}
body {
    font-family: 'SBRegular', 'Helvetica', 'Arial', sans-serif;
}

