@font-face {
    font-family: 'SBRegular';
    src: url("static/font/SBSansDisplay-Regular.eot");
    src: url("static/font/SBSansDisplay-Regular.eot") format("embedded-opentype"),
    url("static/font/SBSansDisplay-Regular.woff2") format("woff2"),
    url("static/font/SBSansDisplay-Regular.woff") format("woff"),
    url("static/font/SBSansDisplay-Regular.ttf") format("true-type"),
    url("static/font/SBSansDisplay-Regular.svg#SBSansDisplay-Regular") format("true-type");
}

#image {
    width: 40vmin;
}
#container {
    text-align: center;
    width: 318px;
    height: 104px;
    margin: 0 auto;
    font-weight: 600;
    line-height: 104px;
}
#ticket {
    font-size: 80px;
}
#operation {
    font-size: 32px;
}
body {
    font-family: 'SBRegular', 'Helvetica', 'Arial', sans-serif;
}

