#image {
    width: 144px;
    height: 40px;
}
#container {
    text-align: center;
    width: 318px;
    height: 104px;
    margin: 0 auto;
    font-weight: 600;
    line-height: 104px;
}
#ticket {
    font-size: 80px;
}
#operation {
    font-size: 32px;
}
